[submodule "src/main/resources/assets/minecraft/fdpclient/translations"]
	path = src/main/resources/assets/minecraft/fdpclient/translations
	url = git@github.com:UnlegitMC/FDPTranslations.git
	branch = l10n_main
