# GlStateManager
public net.minecraft.client.renderer.GlStateManager$Color
public net.minecraft.client.renderer.GlStateManager$TextureState

# ResourcePackRepository
public net.minecraft.client.resources.ResourcePackRepository$Entry <init>(Lnet/minecraft/client/resources/ResourcePackRepository;Ljava/io/File;)V # constructor

# TileEntityBannerRenderer
public net.minecraft.client.renderer.tileentity.TileEntityBannerRenderer$TimedBannerTexture
public net.minecraft.client.renderer.tileentity.TileEntityBannerRenderer$TimedBannerTexture <init>()V # constructor

# BlockRedstoneTorch
public net.minecraft.block.BlockRedstoneTorch$Toggle

# Minecraft
public net.minecraft.client.Minecraft field_71428_T # timer
public-f net.minecraft.client.Minecraft field_71449_j # session
public net.minecraft.client.Minecraft field_71467_ac # rightClickDelayTimer
public net.minecraft.client.Minecraft func_147116_af()V # clickMouse
public net.minecraft.client.Minecraft func_147121_ag()V # rightClickMouse
public net.minecraft.client.Minecraft field_71429_W # leftClickCounter

# GuiIngame
public net.minecraft.client.gui.GuiIngame field_175196_v # overlayPlayerList

# GuiIngameForge
#public net.minecraftforge.client.GuiIngameForge pre(Lnet/minecraftforge/client/event/RenderGameOverlayEvent/ElementType;)Z
#public net.minecraftforge.client.GuiIngameForge post(Lnet/minecraftforge/client/event/RenderGameOverlayEvent/ElementType;)V

# C00Handshake
public net.minecraft.network.handshake.client.C00Handshake field_149598_b # ip
public net.minecraft.network.handshake.client.C00Handshake field_149599_c # port

# C00PacketKeepAlive
public net.minecraft.network.play.client.C00PacketKeepAlive field_149461_a # key

# C01PacketChatMessage
public net.minecraft.network.play.client.C01PacketChatMessage field_149440_a # message

# C03PacketPlayer
public net.minecraft.network.play.client.C03PacketPlayer field_149479_a # x
public net.minecraft.network.play.client.C03PacketPlayer field_149477_b # y
public net.minecraft.network.play.client.C03PacketPlayer field_149478_c # z
public net.minecraft.network.play.client.C03PacketPlayer field_149476_e # yaw
public net.minecraft.network.play.client.C03PacketPlayer field_149473_f # pitch
public net.minecraft.network.play.client.C03PacketPlayer field_149474_g # onGround
public net.minecraft.network.play.client.C03PacketPlayer field_149481_i # rotating

# C08PacketPlayerBlockPlacement
public net.minecraft.network.play.client.C08PacketPlayerBlockPlacement field_149580_e # stack
public net.minecraft.network.play.client.C08PacketPlayerBlockPlacement field_149577_f # facingX
public net.minecraft.network.play.client.C08PacketPlayerBlockPlacement field_149578_g # facingY
public net.minecraft.network.play.client.C08PacketPlayerBlockPlacement field_149584_h # facingZ

# C0FPacketConfirmTransaction
public net.minecraft.network.play.client.C0FPacketConfirmTransaction field_149534_b # uid
public net.minecraft.network.play.client.C0FPacketConfirmTransaction field_149536_a # windowId
public net.minecraft.network.play.client.C0FPacketConfirmTransaction field_149535_c # accepted

# ShaderGroup
public net.minecraft.client.shader.ShaderGroup field_148035_a # mainFramebuffer
public net.minecraft.client.shader.ShaderGroup field_148031_d # listShaders

# KeyBinding
public net.minecraft.client.settings.KeyBinding field_74513_e # pressed

# C17PacketCustomPayload
public net.minecraft.network.play.client.C17PacketCustomPayload field_149561_c # data

# PlayerControllerMP
public net.minecraft.client.multiplayer.PlayerControllerMP field_78779_k # currentGameType

# S01PacketJoinGame
public net.minecraft.network.play.server.S01PacketJoinGame field_149205_c # gameType

# S07PacketRespawn
public net.minecraft.network.play.server.S07PacketRespawn field_149087_c # gameType

# Entity
public net.minecraft.entity.Entity field_70134_J # isInWeb
public-f net.minecraft.entity.Entity func_174806_f(FF)Lnet/minecraft/util/Vec3; # getVectorForRotation

# EntityLivingBase
public net.minecraft.entity.EntityLivingBase field_70773_bE # jumpTicks

# EntityPlayer
public net.minecraft.entity.player.EntityPlayer field_71072_f # itemInUseCount
public net.minecraft.entity.player.EntityPlayer field_71083_bS # sleeping
public net.minecraft.entity.player.EntityPlayer field_71076_b # sleepTimer
public net.minecraft.entity.player.EntityPlayer field_71102_ce # speedInAir

# EntityPlayerSP
public net.minecraft.client.entity.EntityPlayerSP field_110321_bQ # horseJumpPower
public net.minecraft.client.entity.EntityPlayerSP field_110320_a # horseJumpPowerCounter
public net.minecraft.client.entity.EntityPlayerSP field_175171_bO # serverSprintState
public net.minecraft.client.entity.EntityPlayerSP field_175168_bP # positionUpdateTicks

# EntityRenderer
public net.minecraft.client.renderer.EntityRenderer func_175069_a(Lnet/minecraft/util/ResourceLocation;)V # loadShader
public net.minecraft.client.renderer.EntityRenderer func_78479_a(FI)V # setupCameraTransform
public net.minecraft.client.renderer.EntityRenderer field_78490_B # thirdPersonDistance
public net.minecraft.client.renderer.EntityRenderer field_78491_C # thirdPersonDistanceTemp

# GuiChest
public net.minecraft.client.gui.inventory.GuiChest field_147018_x # inventoryRows
public net.minecraft.client.gui.inventory.GuiChest field_147015_w # lowerChestInventory

# GuiContainer
public net.minecraft.client.gui.inventory.GuiContainer func_146984_a(Lnet/minecraft/inventory/Slot;III)V # handleMouseClick
public net.minecraft.client.gui.inventory.GuiContainerCreative func_146984_a(Lnet/minecraft/inventory/Slot;III)V # handleMouseClick

# InventoryEffectRenderer
public net.minecraft.client.renderer.InventoryEffectRenderer func_175378_g()V # updateActivePotionEffects

# GuiGameOver
public net.minecraft.client.gui.GuiGameOver field_146347_a # enableButtonsTimer

# GuiScreen
public net.minecraft.client.gui.GuiScreen func_175272_a(Lnet/minecraft/util/IChatComponent;II)V # handleComponentHover

# GuiButton
public net.minecraft.client.gui.GuiButton field_146123_n # hovered

# ItemBucket
public net.minecraft.item.ItemBucket field_77876_a # isFull

# KeyBinding
public net.minecraft.client.settings.KeyBinding field_74513_e # pressed

# PlayerControllerMP
public net.minecraft.client.multiplayer.PlayerControllerMP field_78770_f # curBlockDamageMP
public net.minecraft.client.multiplayer.PlayerControllerMP field_78781_i # blockHitDelay
public net.minecraft.client.multiplayer.PlayerControllerMP func_78750_j()V # syncCurrentPlayItem

# RenderMananger
public net.minecraft.client.renderer.entity.RenderManager field_78725_b # renderPosX
public net.minecraft.client.renderer.entity.RenderManager field_78726_c # renderPosY
public net.minecraft.client.renderer.entity.RenderManager field_78723_d # renderPosZ

# S2EPacketCloseWindow
public net.minecraft.network.play.server.S2EPacketCloseWindow field_148896_a # windowId

# S08PacketPlayerPosLook
public net.minecraft.network.play.server.S08PacketPlayerPosLook field_148936_d # yaw
public net.minecraft.network.play.server.S08PacketPlayerPosLook field_148937_e # pitch
public net.minecraft.network.play.server.S08PacketPlayerPosLook field_148938_b # x
public net.minecraft.network.play.server.S08PacketPlayerPosLook field_148939_c # y
public net.minecraft.network.play.server.S08PacketPlayerPosLook field_148940_a # z

# S12PacketEntityVelocity
public net.minecraft.network.play.server.S12PacketEntityVelocity field_149415_b # motionX
public net.minecraft.network.play.server.S12PacketEntityVelocity field_149416_c # motionY
public net.minecraft.network.play.server.S12PacketEntityVelocity field_149414_d # motionZ

# S2APacketParticles
public net.minecraft.network.play.server.S2APacketParticles field_179751_a # particleType
public net.minecraft.network.play.server.S2APacketParticles field_149234_b # xCoord
public net.minecraft.network.play.server.S2APacketParticles field_149235_c # yCoord
public net.minecraft.network.play.server.S2APacketParticles field_149232_d # zCoord
public net.minecraft.network.play.server.S2APacketParticles field_149233_e # xOffset
public net.minecraft.network.play.server.S2APacketParticles field_149230_f # yOffset
public net.minecraft.network.play.server.S2APacketParticles field_149231_g # zOffset
public net.minecraft.network.play.server.S2APacketParticles field_149237_h # particleSpeed
public net.minecraft.network.play.server.S2APacketParticles field_149238_i # particleCount

# NetHandlerPlayClient
public net.minecraft.client.network.NetHandlerPlayClient field_147309_h # doneLoadingTerrain

# BlockLiquid
public net.minecraft.block.BlockLiquid func_176362_e(Lnet/minecraft/world/IBlockAccess;Lnet/minecraft/util/BlockPos;)I # getLevel
